main {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: #ff303c;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Russo One', sans-serif;
}


.Logo {
    width: 30rem;
    margin-bottom: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    z-index: 2;
}

.Email-Form {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.362);
    border: none;
    outline: none;
    border-bottom: 1px solid #bbb;
    padding: 10px;
    font-size: 0.95rem;
    margin-bottom: 2rem;
    color: #FEFEFE;
    transition: all 2s ease;
    cursor: pointer;
}

.Email-Form::placeholder {
    color: rgba(234, 225, 225, 0.313);
    font-family: 'Russo One', sans-serif;
}

.Email-Form:focus {
    outline-color: transparent;
    box-shadow: 3px 5px 3px 4px rgba(0, 0, 0, 0.155);
    border-radius: 20px;
    padding: 20px;
    border: none;
}

.Email-Form:hover {
    transform: translateY(-5px);
}

.btn {
    display: inline-block;
    width: 100%;
    height: 43px;
    background-color: #151111;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    transition: 0.5s; 
    font-family: 'Russo One', sans-serif;
}

.btn:hover {
    background-color: #efefef;
    color: #151111;
    transform: translateY(-5px);
}

h2 {
    font-size: 2.5rem;
    font-weight: 400;
    color: #FEFEFE;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

p {
    color: #FEFEFE;
    font-size: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
}