.Investors {
    margin-top: 4rem;
    text-align: center;
    padding: 20px;
    margin-bottom: 4rem;
}

.heading {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 2rem;
}

.investor img {
    width: 228px;
}

.investors {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}


@media (max-width: 900px) {
    .investors {
        grid-template-columns: repeat(1, 1fr);
    }
    .investor img {
        width: 20rem;
    }
}