.Hero {
    margin-top: 10rem;
    text-align: center;
    padding: 10px;
    margin-bottom: 23rem;
}

.logo {
    width: 25rem;
    margin-top: 5rem;
    flex-direction: row;
}

.tagline {
    font-size: 3rem;
    color: #fff;
    font-weight: 500;
}

#btn {
    border-radius: 30px;
}


form {
    margin-top: 3rem;
    margin-bottom: 3dvh;
}


@media (max-width: 850px) {
    .Hero {
        margin-top: 2rem;
        margin-bottom: 20rem;
    }
}