.Hero {
    margin-top: 1rem;
    text-align: center;
    padding: 10px;
    margin-bottom: 16rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Russo One', sans-serif;
}

.logo {
    width: 493px;
    margin-top: 5rem;
    flex-direction: row;
}

.tagline {
    margin-top: 1.2rem;
    font-size: 50px;
    color: #fff;
    font-weight: 500;
    line-height: 60.25px;
    height: 60.25px;
    overflow: hidden; 

}

#btn {
    border-radius: 40px;
    width: 248px;
    height: 56px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

form {
    margin-top: 1.895rem;
    margin-bottom: 3dvh;
}


@media (max-width: 850px) {
    .Hero {
        margin-top: 2rem;
        margin-bottom: 17rem;
    }
}

@media (max-width: 800px ) {
    .logo {
        width: 350px;
    }
    .tagline {
        font-size: 35px;
        color: #fff;
        font-weight: 500;
        line-height: 1;
        height: 115px; 
    }
    #btn {
        width: 200px;
        height: 45px; 
    }
    form {
        margin-bottom: 1rem;
    }
}

@media (max-height: 1440px) {
    .Hero {
        margin-top: 3rem;
    }
}