.Hero {
    margin-top: 10rem;
    text-align: center;
    padding: 10px;
    margin-bottom: 15.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Russo One', sans-serif;
}

.logo {
    width: 493px;
    margin-top: 5rem;
    flex-direction: row;
}

.tagline {
    font-size: 50px;
    color: #fff;
    font-weight: 500;
    line-height: 60.25px;
}

#btn {
    border-radius: 40px;
    width: 248px;
    height: 56px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}


form {
    margin-top: 1.895rem;
    margin-bottom: 3dvh;
}


@media (max-width: 850px) {
    .Hero {
        margin-top: 2rem;
        margin-bottom: 17rem;
    }
}