.Team {
    padding: 20px;
    text-align: center;
    margin-bottom: 1rem;
}

.team_members {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.member {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.member_pfp {
    border-radius: 50%;
    width: 20rem;
    margin-bottom: 10px;
    width: 124px;
    height: 124px;
    font-weight: normal;
}

.member_name {
    color: #fff;
    font-size: 2rem;
    font-weight: normal;
}

.heading {
    color: #fff;
    font-size: 3rem;
}

@media (max-width: 900px) {
    .team_members {
        grid-template-columns: repeat(2, 1fr);
    }
}