.about-container {
    padding: 3rem;
    width: 100%;
    margin-bottom: 2rem;
}

.heading-about {
    color: #ffffff;
    font-family: "Russo One", Helvetica;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 2rem;
    text-align: center;
}

.paragraph {
    color: #ffffff;
    font-family: "Montserrat", Helvetica;
    font-size: 23px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: normal;
}

.additional-paragraph {
    color: #ffffff;
    font-family: "Montserrat", Helvetica;
    font-size: 23px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: normal;

}

.text-container {
    display: flex;
    flex-direction: column;
    padding: 0 2rem; 
    gap: 20px;
}

@media (min-width: 1500px) {
    .text-container {
        flex-direction: row;
        padding: 0 2rem; 
    }
}

@media ( max-width: 800px ) {
    .heading-about {
        text-align: start;
        font-size: 28px;
    }
    .text-container  {
        padding: 0 0;
        font-size: 18px;
    }
    .text-container p  {
        font-size: 18px;
    }
}