.Landing {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

hr {
    width: 100%;
    margin-top: 5rem;
    color: #ffffff;
    border-top: 6px solid rgb(255, 255, 255);
    margin-bottom: 5rem;
}